# Node & build
node_modules/
.next/
out/
dist/

# Env files
.env
.env.local

# System files
.DS_Store
Thumbs.db
*.log

# Lock files (optional)
pnpm-lock.yaml
yarn.lock

# IDE configs
.vscode/
.idea/

# Supabase keys
supabase/.env
